<template>
  <div>
    <svg ref="scatterPlot" :width='width' :height='height'></svg>
  </div>
</template>


<script>
import * as d3 from "d3"
import { Notify } from "quasar";
import { api } from "boot/axios";
import {
  X,
  Y,
  ID,
  width,
  height,
  plotRatio,
  plotWidth,
  xAxisPos,
  yAxisPos,
  circleRadius,
  SELECTED,
  UNSELECTED,
  hdbscanCluster,
  originalOpacity,
  plotHeight,
  detailTextOffsetRate,
  padding,
  prefix,
  characterNames,
  margin,
  clusterGroupTextLength,
  attributeRectWidth,
  groupHeight,
  customizedColorPalette,
  OPACITY_SELECTED,
  OPACITY_CLUSTER,
  OPACITY,
  lassoWidth,
  surroundRadius,
  cxSpan,
  cySpan,
  Contribute_Score,defaultWeight,
  Attributes, Sentence,Cluster,
} from '/src/pages/sentimentAnalysis/data'


const trans = width * 0.07
const t1 = trans + 50, t2 = trans + 50
const keywordsOpacity = [1, 0.9, 0.75, 0.75, 0.55, 0.55, 0.45, 0.45]
const TYPE = [{"type": "0"}, {"type": "1"}, {"type": "2"}]
export default {
  data() {
    return {
      data: null, allItem: [], curAllItem: null, wordsMap: [], curWordsMap: null, sparseMatrix: [], curSparseMatrix: null,
      IDMap: [], curIDMap: null, clusters: [], curCluster: null, Z: [], z: null,
      svg: null, mainGroupLeft: null, mainGroupRight: null, width: 1600, height: 940,
      circles: [], Clusters: [], ClustersScatterPlot: null, clusterSign: null, signGroupsSpan: [], ScatterPlotFlag: 0,
      xScale: null, yScale: null, xScaleGroups: [], yScaleGroups: [], new_xScaleGroups: [], new_yScaleGroups: [],
      selectedID: [], surroundDotsID: [], mouseoverDot: null, updatedSurroundRadius: surroundRadius,
      lasso: null, lassoPath: '', lassoCoordinates: [], curLassoXScale: null, curLassoYScale: null, centroid: null, centroidID: null, isLassoing: false,
      characterNames: characterNames, currentNameIndex: characterNames.length - 1, currentName: characterNames[this.currentNameIndex],
      xAxisGroups: [], yAxisGroups: [],
      tbody: null, rows: null, scatterData: null,
      keywords: [], keywordsMap: [], maxGroups: 0, keywordsPos: [],
      keywordsGroup: null, keywordsGroupWidth: 0, keywordsGroupHeight: 0,
      keywordsText: null, keywordsInfo: 'Keywords of cluster ',
      keywordsHis: null, keywordsHisWidth: 0, keywordsHisHeight: 0,
    }
  },
  mounted() {
    this.loadDataAndCreateScatterPlot()
  },
  methods: {
    async fetchScatterData(type) {
      try {
        const destination = "/sentimentAnalysis"
        const response = await api.put(destination, type);
        // console.log('sentiment response: ', response.data);

        if (response.status !== 200) {
          Notify.create({
            color: "negative",
            position: "top",
            message: "Loading failed",
            icon: "report_problem",
          });
        }
        return response.data;
      } catch (error) {
        console.error('Error fetching data:', error);
        return [];
      }
    },
    initGroup() {
      this.svg = d3.select(this.$refs.scatterPlot).attr('transform', `translate(${trans}, ${trans})`)
      this.mainGroupLeft = this.svg.append('g').attr('id', 'mainSVG_left')
          .attr('transform', `translate(${margin.left}, ${margin.top})`)
      this.mainGroupRight = this.svg.append('g').attr('id', 'mainSVG_right')
          .attr('transform', `translate(${margin.left + width / 2}, ${margin.top})`)
      this.ClustersScatterPlot = this.mainGroupLeft.append('g').attr('class', 'ClustersScatterPlot')
          .attr('transform', `translate(${0}, ${0})`)
    },
    initData() {
      const i = this.currentNameIndex
      this.allItem[i] = this.data
      this.maxGroups = d3.max(this.data, d => parseInt(d[hdbscanCluster]))
      const maxID = d3.max(this.data, d => parseInt(d[ID]))
      this.IDMap[i] = new Array(maxID)

      for(let j = 0; j < this.data.length; ++j) {
        let obj = this.data[j]
        this.IDMap[i][parseInt(obj[ID])] = j
      }
      let tmpClusterGroup = []
      for(let i = 0; i <= parseInt(this.maxGroups) + 1; ++i) {
        tmpClusterGroup[i] = 'Cluster' + (i - 1)
      }
      this.clusters[i] = tmpClusterGroup
      this.Z[i] = this._z
      this.resetCharacter()
    },
    async loadDataAndCreateScatterPlot() {
      this.initGroup()
      try {
        const data = this.data =  await d3.csv("./all_roles.csv")
        this.wordsMap[this.currentNameIndex] = await d3.json('./all_roles_vocabulary.json')
        this.sparseMatrix[this.currentNameIndex] = await d3.csv('./all_roles_weights.csv')
        // console.log(this.data, this.wordsMap, this.sparseMatrix); // This should now display the data.

        // const jsonData = await this.fetchScatterData(TYPE[0])
        // const data = this.data = jsonData
        // this.wordsMap[this.currentNameIndex] = await this.fetchScatterData(TYPE[1])
        console.log('After csv format: ', this.data, this.wordsMap)
        this.createScatterPlotWithLoadedData(data)
        // this.updateScatterPlot(data)
        this.initNLPDetailTable()
        this.svg.attr('width', this.width + margin.left + 10)
      } catch (error) {
        console.error("Error loading data:", error);
      }
    },
    createScatterPlotWithLoadedData(data) {
      this.initData()
      this.findKeywordsOfEachCluster(data)

      const groupWidth = width / 2 * 0.97
      const groupMargin = width / 2 * 0.03
      const interval = clusterGroupTextLength * attributeRectWidth
      const limit = Math.ceil(groupWidth / interval)
      const signGroupsColumns = Math.ceil(this.curCluster.length / limit)
      // this.signGroupsSpan[this.currentNameIndex] = (signGroupsColumns > 2 ? signGroupsColumns * 2 - 1 : 3) * attributeRectWidth * 1.3
      this.signGroupsSpan[this.currentNameIndex] = (signGroupsColumns * 2.5 - 1) * attributeRectWidth + margin.top / 4
      let flag = 0
      // console.log(groupWidth, groupMargin)
      if(this.ScatterPlotFlag === 0) {
        this.ClustersScatterPlot.append('rect').attr('x', 0).attr('y', -margin.top / 2)
            .attr('width', groupWidth)
            .attr('height', groupHeight / 2)
            .attr('stroke', 'red')
            .attr('stroke-dasharray', '5, 5')
            .attr('fill', 'transparent')
        let clipPath = this.ClustersScatterPlot.append("clipPath")
            .attr("id", "plot-clip");
        clipPath.append('rect').attr('x', xAxisPos).attr('y', margin.top / 2)
            .attr('width', plotWidth)
            .attr('height', yAxisPos)

        let clipPathForClusters = this.ClustersScatterPlot.append("clipPath")
            .attr("id", "plot-clip-cluster");
        clipPathForClusters.append('rect').attr('x', xAxisPos).attr('y', 0)
            .attr('width', plotWidth)
            .attr('height', yAxisPos)
      }

      let clusterSign = this.mainGroupRight.append('g').attr('id', 'clusterSign' + '_' + this.currentName)
          .attr('class', 'Clusters ' + 'Clusters_' + this.currentName)
          .attr('transform', `translate(${groupMargin}, ${-margin.top / 2})`)
      clusterSign.append('rect').attr('x', 0).attr('y', 0)
          .attr('width', groupWidth)
          .attr('height', this.signGroupsSpan[this.currentNameIndex])
          .attr('stroke', 'green')
          .attr('stroke-dasharray', '5, 5')
          .attr('fill', 'transparent')

      let groupSignGroups = clusterSign.selectAll('.groupSigns').data(this.curCluster).enter()
          .append('g').attr('class', 'groupSigns')
          .attr('transform', (d, i) => {
            if(i >= limit) {
              flag = Math.floor(i / limit)
              i = i % limit
            }
            return `translate(${i * interval + margin.left}, ${flag * attributeRectWidth * 2.5})`
          })
      groupSignGroups.append('rect')
          .attr('x', 0).attr('y', margin.top / 4)
          .attr('width', attributeRectWidth)
          .attr('height', attributeRectWidth)
          .attr('fill', (d, i) => this.z(d))

      groupSignGroups.append("text")
          .attr("x", attributeRectWidth * 2.5)
          .attr("y", margin.top / 2)
          .style('font-weight', 'bold')
          .style("text-anchor", "left")
          .style('font-size', '14px')
          .text(d => d)

      this.keywordsGroup = this.mainGroupRight.append('g').attr('id', 'keywords' + '_' + this.currentName)
          .attr('class', 'Clusters ' + 'Clusters_' + this.currentName)
          .attr('transform', `translate(${groupMargin}, ${this.signGroupsSpan[this.currentNameIndex] -margin.top / 2})`)

      this.keywordsText = this.mainGroupRight.append('text').attr('id', 'keywords_' + this.currentName)
          .attr('x', groupMargin).attr('y', this.signGroupsSpan[this.currentNameIndex] - margin.top / 2 + 15)
          .style('font-weight', 'bold')
          .style("text-anchor", "left")
          .style('font-size', '16px')
          .text(this.keywordsInfo + '-1' + ' : ')

      this.keywordsGroupHeight = groupHeight / 2 - this.signGroupsSpan[this.currentNameIndex] - margin.top / 2
      this.keywordsGroupWidth = plotWidth * 2 / 3
      this.keywordsGroup.append('rect')
          .attr('x', 0).attr('y', margin.top / 2)
          .attr('width', this.keywordsGroupWidth)
          .attr('height', this.keywordsGroupHeight)
          .attr('stroke', 'black')
          .attr('stroke-dasharray', '5, 5')
          .attr('fill', 'transparent')
      this.positionKeywords()

      this.keywordsHis = this.mainGroupRight.append('g').attr('id', 'keywords' + '_' + this.currentName)
          .attr('class', 'Clusters ' + 'Clusters_' + this.currentName)
          .attr('transform', `translate(${groupMargin + this.keywordsGroupWidth}, ${this.signGroupsSpan[this.currentNameIndex] -margin.top / 2})`)
      this.keywordsHisHeight = groupHeight / 2 - this.signGroupsSpan[this.currentNameIndex] - margin.top / 2
      this.keywordsHisWidth = groupWidth - this.keywordsGroupWidth
      this.keywordsHis.append('rect')
          .attr('x', 0).attr('y', margin.top / 2)
          .attr('width', this.keywordsHisWidth)
          .attr('height', this.keywordsHisHeight)
          .attr('stroke', 'blue')
          .attr('stroke-dasharray', '5, 5')
          .attr('fill', 'transparent')
      this.initKeywordsHistogram()

      this.Clusters[this.currentNameIndex] = this.ClustersScatterPlot.append('g').attr('id', 'ClusterScatterPlot' + '_' + this.currentName)
          .attr('class', 'Clusters ' + 'Clusters_' + this.currentName)
          .attr('transform', `translate(0, ${margin.top / 2})`)

      const xScale = this.new_xScaleGroups[this.currentNameIndex] = this.xScaleGroups[this.currentNameIndex] = d3.scaleLinear()
          .domain([Math.floor(d3.min(this.data, d =>  parseFloat(d[X]))) * plotRatio, Math.floor(d3.max(this.data, d => parseInt(d[X])) * plotRatio)])
          .range([xAxisPos, plotWidth + xAxisPos]);

      const yScale = this.new_yScaleGroups[this.currentNameIndex] = this.yScaleGroups[this.currentNameIndex] = d3.scaleLinear()
          .domain([Math.floor(d3.min(this.data, d => parseFloat(d[Y]))) * plotRatio, Math.floor(d3.max(this.data, d => parseInt(d[Y])) * plotRatio)])
          .range([yAxisPos, 0]);
      const xAxis = d3.axisBottom(xScale)
      const yAxis = d3.axisLeft(yScale)

      // Create circles for data points
      this.circles[this.currentNameIndex] = this.Clusters[this.currentNameIndex].selectAll("circle").data(this.data).enter()
          .append("circle").attr('id', d => this.createCircleId(d[ID]))
          .attr('class', 'Circles_' + this.currentName + ' ' + this.currentName + '_' + UNSELECTED)
          .attr("cx", function(d) {
            // if(d[ID] === '301') console.log(d[X], xScale(d[X]), xScale.invert(xScale(d[X])), d[Y], yScale(d[Y]), yScale.invert(yScale(d[Y])))
            return xScale(d[X])
          })
          .attr("cy", function(d) { return yScale(d[Y]); })
          .attr("r", circleRadius)
          .attr('opacity', originalOpacity)
          .attr("clip-path", "url(#plot-clip-cluster)")
          .attr("fill", d => {
            return this.z('Cluster' + d[hdbscanCluster])
          })
          .on('mouseover', (event, d, i) => {
            this.mouseoverDot = d3.select('#' + this.createCircleId(d[ID])) //mouseover
            this.getSurroundingDots()
            // console.log('surroundingDots', this.surroundDotsID)
            const curDot = this.curAllItem[this.curIDMap[d[ID]]]
            this.centroidRank(this.surroundDotsID, curDot, 1) //mouseover

            this.NLPScatterPlotCallback(1) //mouseover
            this.updateDetailTable() //mouseover
            // this.positionKeywords(d[hdbscanCluster])
            this.showCurClusterKeywords(d[hdbscanCluster])
            this.showCurKeywordsHistogram(d[hdbscanCluster])
            this.mouseoverDot.attr('opacity', OPACITY_SELECTED)
            this.mouseover2row(d) //mouseover
          })
          .on('mouseout', (event) => {
            this.surroundDotsID = []
            this.NLPScatterPlotCallback() //mouseout
            this.updateDetailTable() //mouseout
          })

      if(this.ScatterPlotFlag === 0) {
        let lassoGroup = this.ClustersScatterPlot.append("g")
            .attr("clip-path", "url(#plot-clip)");
        this.lasso = lassoGroup.append("path").attr("class", "lasso")
            .attr("stroke", "blue") // Customize the line style
            .attr("stroke-width", lassoWidth)
            .attr('fill', 'none')
        // console.log(this.lasso)
        this.ScatterPlotFlag = 1
      }

      this.xAxisGroups[this.currentNameIndex] = this.Clusters[this.currentNameIndex].append("g")
          .attr('id', 'x-axis_' + this.currentName)
          .attr('class', 'Clusters ' + 'Clusters_' +this.currentName)
          .attr("transform", `translate(${0},${plotHeight})`)
          .call(xAxis.ticks(12))

      this.Clusters[this.currentNameIndex].append("text")
          .attr("x", plotWidth * detailTextOffsetRate)
          .attr("y", plotHeight + padding / 2)
          .style('font-weight', 'bold')
          .style("text-anchor", "left")
          .style('font-size', '14px')
          .text(X);

      this.yAxisGroups[this.currentNameIndex] = this.Clusters[this.currentNameIndex].append("g")
          .attr('id', 'y-axis_' + this.currentName)
          .attr('class', 'Clusters ' + 'Clusters_' +this.currentName)
          .attr("transform", `translate(${plotWidth / 16},${0})`)
          .call(yAxis.ticks(12))

      this.Clusters[this.currentNameIndex].append("text")
          .attr("transform", "rotate(-90)")
          .attr("x", -plotHeight * 0.15)
          .attr("y", plotWidth / 32 - padding)
          .style('font-weight', 'bold')
          .style("text-anchor", "right")
          .style('font-size', '14px')
          .text(Y)

      const zoom = d3.zoom()
          .scaleExtent([1, 32]) // Set the zoom extent
          .extent([[0, 0], [plotWidth, plotHeight]])
          .filter(filter)
          .on('zoom', this.zoomed)
          .on("start", function() {
            document.getElementsByTagName("svg")[0].style.cursor = "grab"
          })
          .on("end", function() {
            document.getElementsByTagName("svg")[0].style.cursor = "default"
          })

      this.ClustersScatterPlot.call(zoom).call(zoom.transform, d3.zoomIdentity)

      this.ClustersScatterPlot.on('contextmenu', (event) => {
        console.log('contextMenu')
        if(event.altKey) {
          this.resetZoom(zoom)
        }
        event.preventDefault()
      })
      function filter(event) {
        // event.preventDefault()
        return (!event.ctrlKey || event.type === 'wheel') && !event.button;
      }
      this.ClustersScatterPlot.on("mousedown", (event) => {
        console.log('?????????????????', event)
        this.isLassoing = true //mousedown
        this.lassoPath = '' //mousedown
        this.curLassoXScale = this.new_xScaleGroups[this.currentNameIndex]
        this.curLassoYScale = this.new_yScaleGroups[this.currentNameIndex]
        this.selectedID = [] //lasso mousedown
        // event.preventDefault()

        const startX = event.clientX - cxSpan - t1
        const startY = event.clientY - cySpan - t2
        // const startX = event.clientX - t1
        // const startY = event.clientY - t2
        const tmpLassoPath = `M ${startX} ${startY}`
        this.lassoPath = tmpLassoPath
        // console.log('1  : ', this.lassoPath)

        // console.log(this.lassoPath)
        this.ClustersScatterPlot.on("mousemove",  (event) => {
          if (this.isLassoing === false) return //mousemove
          // console.log('2  : ', this.lassoPath)

          let currentX = event.clientX - cxSpan - t1
          let currentY = event.clientY - cySpan - t2
          // let currentX = event.clientX - t1
          // let currentY = event.clientY - t2
          this.lassoPath += ` L ${currentX} ${currentY}`
          // console.log(this.lasso, d3.select('.lasso'), this.lassoPath)
          this.lasso = d3.select('.lasso')
          this.lasso.attr("d", this.lassoPath); //mousemove
        });
      });


      this.ClustersScatterPlot.on("mouseup", async event => {
        console.log('mouseup !!!!!!!!!!!!!!!!!!!!!!!!')
        event.preventDefault()
        // ...
        if (this.isLassoing) {
          this.getDotsInLasso(this.lassoPath); // mouseup
          let clusterData = []
          for (let id of this.selectedID) {
            let curData = this.curAllItem[this.curIDMap[id]];
            clusterData.push({
              'id': id,
              'x': Number(curData[X]).toFixed(3),
              'y': Number(curData[Y]).toFixed(3),
            })
          }
          console.log(clusterData)
          this.centroidID = parseInt(await this.fetchCentroid(clusterData))
          this.centroid = this.curAllItem[this.curIDMap[this.centroidID]];
          console.log(this.centroidID, this.centroid);
          this.centroidRank(this.selectedID, this.centroid) //lasso
        }
        this.isLassoing = false
        // updateDetailTable()
      })
    },
    async fetchCentroid(clusterData) {
      try {
        const destination = "/find_centroid"
        const response = await api.post(destination, clusterData)
        // console.log('sentiment response: ', response.data);

        if (response.status !== 200) {
          Notify.create({
            color: "negative",
            position: "top",
            message: "Loading failed",
            icon: "report_problem",
          });
        }
        return response.data;
      } catch (error) {
        console.error('Error fetching data:', error);
        return [];
      }
    },
    initKeywordsHistogram() {
      const hisPlotWidth = this.keywordsHisWidth * 0.8
      const hisPlotHeight = this.keywordsHisHeight * 0.85
      const xAxisPos = hisPlotWidth / 16

      for(let clusterIndex = 0; clusterIndex < this.maxGroups + 1; ++clusterIndex) {
        const curKeywords = this.keywords[this.currentNameIndex][clusterIndex], ExhibitNumber = 8
        const data = curKeywords.slice(0, ExhibitNumber)
        console.log(data)
        const xScale = d3.scaleBand().domain(data.map(d => d.word)).range([xAxisPos, hisPlotWidth + xAxisPos]).padding(0.3)

        const yScale = d3.scaleLinear().domain([0, d3.max(data, d => d.value)])
            .range([hisPlotHeight + margin.top, margin.top])
            .nice()

        const bandPos = xScale.bandwidth() / 4 * 3
        const tmp = this.keywordsHis.append('g').attr('class', this.createKeywordsHisClass(clusterIndex - 1))
        tmp.selectAll("rect")
            .data(data)
            .enter().append("rect").attr('class', d => this.createKeywordsHisTextClass(clusterIndex - 1, d.word))
            .attr("x", function(d) { return xScale(d.word) + bandPos })
            .attr("y", function(d) { return yScale(d.value); })
            .attr("width", xScale.bandwidth())
            .attr("height", function(d) { return hisPlotHeight - yScale(d.value) + margin.top })
            .style("fill", () => this.z('Cluster' + (clusterIndex - 1)))
            .on('mouseover', (event, d) => {
              const tmp = d3.select('#' + this.createKeywordsClass(clusterIndex - 1))
              tmp.selectAll('text').attr('opacity', OPACITY)
              d3.select('#' + this.createKeywordsTextID(clusterIndex - 1, d.word)).attr('opacity', OPACITY_SELECTED)

              d3.selectAll('.' + this.createKeywordsHisTextPrefix()).attr('opacity', OPACITY_CLUSTER)
              d3.select('.' + this.createKeywordsHisTextPostfix(clusterIndex - 1, d.word)).attr('opacity', OPACITY_SELECTED)
            })
            .on('mouseout', (event, d) => {
              const tmp = d3.select('#' + this.createKeywordsClass(clusterIndex - 1))
              tmp.selectAll('text').attr('opacity', (d, i) => keywordsOpacity[i])

              d3.selectAll('.' + this.createKeywordsHisTextPrefix()).attr('opacity', OPACITY_SELECTED)
            })

        tmp.selectAll('text')
            .data(data).enter()
            .append('text').attr('class', d => this.createKeywordsHisTextClass(clusterIndex - 1, d.word))
            .text((d) => d.value)
            .attr("x", d => xScale(d.word) + bandPos + xScale.bandwidth() / 2)
            .attr("y", d => yScale(d.value))
            .attr('opacity', 1)
            .style("font-size", 16)
            .style('dy', '-0.5em')
            .attr("text-anchor", "middle")
            .style("fill", () => this.z('Cluster' + (clusterIndex - 1)))

        const xAxis = tmp.append("g")
            .attr("transform", `translate(${xAxisPos}, ${hisPlotHeight + margin.top})`)
            .call(d3.axisBottom(xScale));

        xAxis.selectAll('.tick text').remove()

        tmp.append("g")
            .attr("transform", `translate(${xAxisPos * 2}, ${0})`)
            .call(d3.axisLeft(yScale));
      }
      this.keywordsHis.append("text")
          .attr("x", hisPlotWidth / 2)
          .attr("y", (margin.top / 2))
          .attr("text-anchor", "middle")
          .text("Histogram of Values");

      d3.selectAll('.' + this.createKeywordsHisPrefix()).style('display', 'none')
      // d3.select('.' + this.createKeywordsHisClass(0)).style('display', 'block')
      d3.select('.' + this.createKeywordsHisPostfix(0)).style('display', 'block')
    },
    showCurKeywordsHistogram(clusterIndex) {
      d3.selectAll('.' + 'keywordsHis_' + this.currentName).style('display', 'none')
      // d3.select('.' + this.createKeywordsHisClass(0)).style('display', 'block')
      d3.select('.' + 'keywordsHis_all_roles_' + clusterIndex).style('display', 'block')
    },
    positionKeywords(initNum = 0) {
      for(let clusterIndex = 0; clusterIndex <= this.maxGroups + 1; ++clusterIndex) {
        const curKeywords = this.keywords[this.currentNameIndex][clusterIndex], ExhibitNumber = 8
        const collisionRadius = Math.sqrt(Math.pow(this.keywordsGroupWidth * 0.8, 2) + Math.pow(this.keywordsGroupHeight, 2)) / ExhibitNumber * 0.9
        // console.log(curKeywords)

        let avoidOverlap = []
        for (let i = 0; i < ExhibitNumber; i++) {
          avoidOverlap.push({
            x: Math.random() * this.keywordsGroupWidth * 0.8,
            y: Math.random() * this.keywordsGroupHeight * 0.9,
            word: curKeywords[i].word
          });
        }
        const simulation = d3.forceSimulation(avoidOverlap)
            .force("x", d3.forceX(this.keywordsGroupWidth * 0.8 / 2).strength(0.02))
            .force("y", d3.forceY(this.keywordsGroupHeight / 2).strength(0.05))
            .force("collide", d3.forceCollide(collisionRadius))

        // avoidOverlap = d3.shuffle(avoidOverlap);
        // console.log(avoidOverlap, collisionRadius)
        const tmp = this.keywordsGroup.append('g')
            .attr('id', this.createKeywordsClass(clusterIndex - 1))
            .attr('class', this.createKeywordsClass(clusterIndex - 1))

        simulation
            .on("tick", () => {
              tmp.selectAll('text')
                  .data(avoidOverlap).enter()
                  .append('text').attr('id', (d, i) => this.createKeywordsTextID(clusterIndex - 1, d.word))
                  .attr('class', this.createKeywordsClass(clusterIndex - 1))
                  .text((d, i) => curKeywords[i].word)
                  .attr("x", 0).attr("y", margin.top)
                  .attr("transform", d => `translate(${d.x}, ${d.y})`)
                  .attr('opacity', (d, i) => keywordsOpacity[i])
                  .style("font-size", (d, i) => 32 * keywordsOpacity[i])
                  .style("fill", () => this.z('Cluster' + (clusterIndex - 1)))
                  .on('mouseover', (event, d) => {
                    const tmp = d3.select('#' + this.createKeywordsClass(clusterIndex - 1))
                    tmp.selectAll('text').attr('opacity', OPACITY)
                    d3.select('#' + this.createKeywordsTextID(clusterIndex - 1, d.word)).attr('opacity', OPACITY_SELECTED)

                    d3.selectAll('.' + this.createKeywordsHisTextPrefix()).attr('opacity', OPACITY_CLUSTER)
                    d3.select('.' + this.createKeywordsHisTextPostfix(clusterIndex - 1, d.word)).attr('opacity', OPACITY_SELECTED)
                  })
                  .on('mouseout', (event, d, i) => {
                    const tmp = d3.select('#' + this.createKeywordsClass(clusterIndex - 1))
                    tmp.selectAll('text').attr('opacity', (d, i) => keywordsOpacity[i])

                    d3.selectAll('.' + this.createKeywordsHisTextPrefix()).attr('opacity', OPACITY_SELECTED)
                  })
            })
            .on("end", () => {
              // This function will be called once the simulation ends
              console.log("Simulation ended");
            })
        tmp.style('display', 'none')
      }
      this.keywordsText.text(this.keywordsInfo + (initNum) + ' : ')
      // this.keywordsGroup.selectAll('text').style('display', 'none')
      this.keywordsGroup.selectAll('.' + this.createKeywordsClass(initNum)).style('display', 'block')

      // random generation
      // let count = 0
      // let avoidOverlap = [], isOverlapping = false
      // const keywordsOpacity = [1, 0.95, 0.8, 0.8, 0.6, 0.6, 0.5], ExhibitNumber = 7
      // const evenDistanceX = this.keywordsGroupWidth * 0.8 / ExhibitNumber * 0.6
      // const evenDistanceY = this.keywordsGroupHeight / ExhibitNumber * 0.8
      // const collisionRadius = Math.sqrt(Math.pow(this.keywordsGroupWidth * 0.8, 2) + Math.pow(this.keywordsGroupHeight, 2)) / ExhibitNumber * 0.45
      // console.log(collisionRadius, evenDistanceX, evenDistanceY)
      // // random place
      // while(!this.keywordsPos[clusterIndex]) {
      //   const keyword = curKeywords[avoidOverlap.length]
      //   const x = Math.random() * this.keywordsGroupWidth * 0.8
      //   const y = Math.random() * this.keywordsGroupHeight * 0.95
      //   // console.log(x, y)
      //   // const rotate = Math.random() < 0.5 ? 0 : 90
      //   for(let obj of avoidOverlap) {
      //     const dx = x - obj.x
      //     const dy = y - obj.y
      //     const distance = Math.sqrt(dx * dx + dy * dy)
      //     if(Math.abs(dy) < evenDistanceY && (distance < collisionRadius) && Math.abs(dx) < evenDistanceX) {
      //       isOverlapping = true
      //       break
      //     }
      //   }
      //   if(!isOverlapping) {
      //     this.keywordsGroup.append('text')
      //         .text(keyword)
      //         .attr('x', 0)
      //         .attr('y', 0)
      //         .attr("transform", `translate(${x}, ${y + margin.top / 2})`)
      //         .style("font-size", 24 * keywordsOpacity[avoidOverlap.length])
      //         .style("fill", () => this.z('Cluster' + (clusterIndex - 1)))
      //     avoidOverlap.push({x: x, y: y})
      //     isOverlapping = false
      //   }
      //   if(count++ > 10000) {
      //     avoidOverlap = []
      //   }
      //   // console.log(avoidOverlap.length)
      //   if(avoidOverlap.length === 7) {
      //     this.keywordsPos[clusterIndex] = avoidOverlap
      //   }
      // }

      //absolute Position
      // const X = this.keywordsGroupWidth
      // const Y = this.keywordsGroupHeight
      // const keywordsPosY = [0.55 * Y, 0.4 * Y, 0.25 * Y, 0.63 * Y, 0.8 * Y, 0.1 * Y, 0.1 * Y]
      // const keywordsPosX = [0.05 * X, 0.4 * X, 0.15 * X, 0.5 * X, 0.25 * X, 0.6 * X, 0.05 * X]
      // const keywordsOpacity = [1, 0.95, 0.8, 0.8, 0.6, 0.6, 0.5]
      // for(let i = 0; i < keywordsPosX.length; ++i) {
      //   const keyword = curKeywords[i]
      //     const x = keywordsPosX[i]
      //     const y = keywordsPosY[i]
      //
      //     this.keywordsGroup.append('text')
      //         .text(keyword)
      //         .attr('x', 0)
      //         .attr('y', 0)
      //         .attr("transform", `translate(${x - 5}, ${y + margin.top / 2})`)
      //         .attr('opacity', keywordsOpacity[i])
      //         .style("font-size", 28 * keywordsOpacity[i])
      //         .style("fill", () => this.z('Cluster' + (clusterIndex - 1)))
      // }
    },
    showCurClusterKeywords(clusterIndex) {
      this.keywordsText.text(this.keywordsInfo + (clusterIndex) + ' : ')
      this.keywordsGroup.selectAll('text').style('display', 'none')
      this.keywordsGroup.selectAll('.' + this.createKeywordsClass(clusterIndex)).style('display', 'block')
    },
    findKeywordsOfEachCluster(data) {
      let tmpMap = []
      for(let i = 0; i <= this.maxGroups + 1; ++i) {
        tmpMap[i] = []
      }
      for(let obj of data) {
        const clusterIndex = parseInt(obj[hdbscanCluster]) + 1
        const wordsArray = obj[Sentence].split(' ')
        for(let str of wordsArray) {
          // console.log(clusterIndex, str)
          if(!tmpMap[clusterIndex][str]) {
            tmpMap[clusterIndex][str] = 1
          } else {
            tmpMap[clusterIndex][str]++
          }
        }
      }
      // console.log(tmpMap)
      for(let i = 0; i < tmpMap.length; ++i) {
        const map = tmpMap[i]
        let entries = Object.entries(map)
        entries.sort((a, b) => b[1] - a[1])

        let sortedMap = []
        entries.forEach(([key, value]) => {
          sortedMap.push({word: key, value: value})
        })
        tmpMap[i] = sortedMap
        // console.log(sortedMap)
      }
      // console.log(tmpMap)
      this.keywordsMap = tmpMap
      this.keywords[this.currentNameIndex] = this.keywordsMap
      // console.log(this.keywords)
    },
    createKeywordsHisClass(clusterIndex) {
      return this.createKeywordsHisPrefix() + ' ' + this.createKeywordsHisPostfix(clusterIndex)
    },
    createKeywordsHisTextClass(clusterIndex, id) {
      return this.createKeywordsHisTextPrefix() + ' ' + this.createKeywordsHisTextPostfix(clusterIndex, id)
    },
    createKeywordsHisPrefix() {
      return 'keywordsHis_' + this.currentName
    },
    createKeywordsHisTextPrefix() {
      return 'keywordsHisText_' + this.currentName
    },
    createKeywordsHisPostfix(clusterIndex) {
      return 'keywordsHis_' + this.currentName + '_' + clusterIndex
    },
    createKeywordsHisTextPostfix(clusterIndex, id) {
      return 'keywordsHis_' + this.currentName + '_' + clusterIndex + '_' + id
    },
    createKeywordsClass(clusterIndex) {
      return 'Keywords_' + this.currentName + '_' + clusterIndex
    },
    createKeywordsTextID(clusterIndex, word) {
      return 'Keywords_' + clusterIndex + '_' + word
    },
    centroidRank(datum, centroid, type = 0) {
      let upperPart = [], lowerPart = []
      for(let id of datum) {
        let obj = this.curAllItem[this.curIDMap[id]]
        if(obj[Y] >= centroid[Y]) {
          upperPart.push({id : obj[ID], distance : calDistance(obj, centroid)})
        } else {
          lowerPart.push({id : obj[ID], distance : calDistance(obj, centroid)})
        }
      }
      upperPart.sort((a, b) => a.distance - b.distance)
      lowerPart.sort((a, b) => b.distance - a.distance)
      // console.log(upperPart, lowerPart)
      datum = (lowerPart.concat(upperPart)).map(item => item.id)
      console.log(datum)
      if(type === 0) {
        this.selectedID = datum
      } else {
        this.surroundDotsID = datum
      }
      this.updateDetailTable() //centroid
      this.mouseover2row(centroid) //centroid
      function calDistance(obj, target) {
        // console.log(typeof(obj[X]), typeof(target[X]))
        return Number(Math.sqrt(Math.pow(obj[X] - target[X], 2) + Math.pow(obj[Y] - target[Y], 2))).toFixed(3)
      }
    },
    zoomed(event) {
      let transform = event.transform
      // console.log(transform)
      const new_xScale = transform.rescaleX(this.xScaleGroups[this.currentNameIndex]).interpolate(d3.interpolateRound)
      const new_yScale = transform.rescaleY(this.yScaleGroups[this.currentNameIndex]).interpolate(d3.interpolateRound)
      // this.lassoPath = '', this.lassoCoordinates = []
      // console.log(this.new_xScaleGroups, this.new_yScaleGroups, new_xScale, new_yScale, this.lassoPath, this.lassoCoordinates)
      this.rescaleLassoPath(transform, new_xScale, new_yScale)
      this.new_xScaleGroups[this.currentNameIndex] = new_xScale
      this.new_yScaleGroups[this.currentNameIndex] = new_yScale

      this.svg.selectAll('.Circles_' + this.currentName)
          // .attr('transform', transform)
          .attr('cx', d => new_xScale(d[X]) )
          .attr('cy', d => new_yScale(d[Y]) )
          .attr('r', circleRadius) //zoomed
      const xAxis = d3.axisBottom(new_xScale)
      const yAxis = d3.axisLeft(new_yScale)
      this.xAxisGroups[this.currentNameIndex].call(xAxis)
      this.yAxisGroups[this.currentNameIndex].call(yAxis)

      this.updatedSurroundRadius = surroundRadius * transform.k
      // currentZoomTransform = transform //zoomed
    },
    rescaleLassoPath(transform, new_xScale, new_yScale) {
      this.lassoPath = '' //rescaleLassPath
      if(this.lassoCoordinates.length !== 0) {
        for(let i = 0; i < this.lassoCoordinates.length; ++i) {
          let obj = this.lassoCoordinates[i]
          // console.log('before', obj[0], obj[1])
          obj[0] = new_xScale(this.new_xScaleGroups[this.currentNameIndex].invert(obj[0]))
          obj[1] = new_yScale(this.new_yScaleGroups[this.currentNameIndex].invert(obj[1]))
          // console.log('after', obj[0], obj[1])
          this.lassoPath += (i === 0 ? 'M ' : ' L ') + ` ${obj[0]} ${obj[1]}`
        }

      }
      // console.log(lassoPath)
      this.lasso.attr("d", this.lassoPath) //rescaleLassPath
          .attr('strike-width', lassoWidth * transform.k)
      // console.log('after', lasso.attr('transform'), lasso.attr('d'))

    },
    resetZoom(zoom) {
      this.ClustersScatterPlot.transition()
          .duration(750) // You can adjust the duration for a smooth transition
          .call(zoom.transform, d3.zoomIdentity)
      this.updatedSurroundRadius = surroundRadius
      // currentZoomTransform = d3.zoomIdentity //resetZoom
    },
    updateScatterPlot() {
      this.data = this.curAllItem
    },
    initNLPDetailTable() {
      // const groupWidth = width / 2 * 0.97
      const groupWidth = width
      let DetailTable = this.mainGroupLeft.append('g').attr('class', 'detailTable')
          // .attr('id', 'detailTable_' + currentName)
          .attr('transform', `translate(${0}, ${groupHeight / 2 + margin.top})`)

      DetailTable.append('rect').attr('x', 0).attr('y', -margin.top / 2)
          .attr('width', groupWidth)
          .attr('height', groupHeight / 2)
          .attr('stroke', 'red')
          .attr('stroke-dasharray', '5, 5')
          .attr('fill', 'transparent')


      //Table
      let tableData = []
      let foreignObject = DetailTable.append("foreignObject")
          .attr('y', -margin.top / 2)
          .attr("width", groupWidth)
          .attr("height", groupHeight / 2)
          .style('overflow', 'auto')

      let div = foreignObject.append("xhtml:div")
          // .style('overflow', 'auto')
          .style('height', groupHeight / 2)
          .style('white-space', 'pre-wrap')
          .attr('id', 'table-container')

      let table = div.append("table")
          .style("border-collapse", "collapse")
      // .attr('id', 'table-container')


      let thead = table.append("thead")
      thead.append("tr")
          .selectAll("th")
          .data(Attributes)
          .enter()
          .append("th")
          .text(d => d)
          .style("font-size", "12px")


      this.tbody = table.append("tbody");
      this.rows = this.tbody.selectAll("tr")
          .data(tableData)
          .enter()
          .append("tr")


      let color, cnt = 0
      let cells = this.rows.selectAll("td")
          .data(d => {
            return Object.values(d)
          })
          .enter()
          .append("td")
          // .attr('id', (d, i) => 'ranking_' + tableData[cnt][ID] + '_' + Attributes[i])
          .style("border", "1px solid #ccc")
          .style("padding", "4px")
          .text(d => d)
          .style('dy', '0.35em')
          .attr("font-family", "Arial")
          .style('font-size', '10px')
    },
    updateDetailTable() {
      let updateTableData =  this.findRecord()
      console.log(updateTableData)

      this.rows.remove()
      this.rows = this.tbody.selectAll('tr').data(updateTableData)
          .enter()
          .append('tr')
          .attr('id', d => this.createRowId(d)) //rows
          .style('background-color', (event, d) => {
            // console.log(d[ID], centroidID, parseInt(d[ID]) === centroidID)
            return parseInt(d[ID]) === this.centroidID ? this.z('Cluster' + d[Cluster]) : 'white'
          })
          .on('mouseover', (event, d) => {
            console.log(d)
            this.mouseoverDot = d3.select('#' + this.createCircleId(d[ID])) //rows
            this.circles[this.currentNameIndex].attr('opacity', OPACITY)
            this.mouseoverDot.attr('opacity', OPACITY_SELECTED)

            const ROW = d3.select('#' + this.createRowId(d))
            ROW.style('background-color', (d) => this.z('Cluster' + d[Cluster]))
          })
          .on('mouseout', (event, d) => {
            const ROW = d3.select('#' + this.createRowId(d))
            ROW.style('background-color', parseInt(d[ID]) === this.centroidID ? this.z('Cluster' + d[Cluster]) : 'white')
            this.NLPScatterPlotCallback() //rows
          })


      let cells = this.rows.selectAll("td")
          .data(d => {
            return Object.values(d)
          })
          .enter()
          .append("td")
          .attr('class', (d, i) => i === Attributes.indexOf(Sentence) ? 'Sentences' : '')
          .style("border", "1px solid #ccc")
          .style("padding", "4px")
          .text(d => d)
          .style('dy', '0.35em')
          .attr("font-family", "Arial")
          .style('font-size', '10px')

    },
    findRecord() {
      let res = []
      this.resetCharacter()
      // console.log(this.selectedID, this.surroundDotsID)
      const tmpSelectedIDSet = new Set(this.selectedID.concat(this.surroundDotsID))

      // console.log(tmpSelectedIDSet, this.curIDMap, this.curAllItem)
      for(let id of tmpSelectedIDSet) {
        let index = this.curIDMap[id]
        let curData = this.curAllItem[index]
        // console.log('findRecord curData: ', curData)
        let resItem = {}
        resItem[Attributes[0]] = curData[Attributes[0]]
        resItem[Attributes[1]] = curData[hdbscanCluster]
        resItem[Attributes[2]] = this.processSentences(curData[Attributes[2]], index)
        resItem[Contribute_Score] = this.setContributeScore(index)
        resItem[ID] = curData[ID]
        // console.log(resItem)
        res.push(resItem)
      }
      return res
    },
    processSentences(sentence, index) {
      let words = '', weights = ''
      const wordsArray = sentence.split(' '), Separator = '\t'
      for(let str of wordsArray) {
        let matrixIndex = this.curWordsMap[str]
        // console.log(str, index, matrixIndex)
        if(matrixIndex === undefined) {
          let [wordSpace1, wordSpace2, weiSpace1, weiSpace2] = this.spaceString(str, defaultWeight + '')
          words += wordSpace1 + str + wordSpace2 + Separator
          weights +=  weiSpace1 + defaultWeight + weiSpace2 + Separator
          continue
        }
        let tmp = parseFloat(this.curSparseMatrix[index][matrixIndex]) + ''
        let [wordSpace1, wordSpace2, weiSpace1, weiSpace2] = this.spaceString(str, tmp)

        words += wordSpace1 + str + wordSpace2 + Separator
        weights +=  weiSpace1 + tmp + weiSpace2 + Separator

      }
      // console.log(words.length, weights.length)
      return words + '\n' + weights
    },
    spaceString(str, wei) {
      const strLen = str.length, weiLen = wei.length
      let count = (strLen - weiLen)
      let wordSpace1, wordSpace2, weiSpace1, weiSpace2
      // console.log(str, strLen, wei, weiLen, count)
      let isOdd = (count) % 2 === 0 ? 0 : 1
      wordSpace1 = count < 0 ? this.createSpaces(Math.abs(count / 2)) : ''
      wordSpace2 = count < 0 ? this.createSpaces(Math.abs(count) / 2 + isOdd)  : ''
      weiSpace1 = count > 0 ? this.createSpaces(count / 2 + isOdd) : ''
      weiSpace2 = count > 0 ? this.createSpaces(count / 2) : ''
      // console.log(wordSpace1.length, wordSpace2.length, weiSpace1.length, weiSpace2.length)
      return [wordSpace1, wordSpace2, weiSpace1, weiSpace2]
    },
    createSpaces(count) {
      count = Math.floor(count)
      return ' '.repeat(count);
    },
    setContributeScore(index) {
      let res = 0
      const wordsArray = this.curAllItem[index][Sentence].split(' ')
      // console.log('wordsArray', wordsArray)
      for(let str of wordsArray) {
        let matrixIndex = this.curWordsMap[str]
        if(matrixIndex === undefined) continue
        let tmp = this.curSparseMatrix[index][matrixIndex]
        // console.log(str, matrixIndex, curSparseMatrix[index][matrixIndex])
        res += parseFloat(tmp)
      }
      // console.log('ContributeScore: ', res)
      return Number(res.toFixed(2))
    },
    NLPScatterPlotCallback(type = 0) {
      this.circles[this.currentNameIndex].attr('class', this.createUnselectedCircleClass())
      for(let obj of this.selectedID) {
        let circle = d3.select('#' + this.createCircleId(obj))
        circle.attr('class', this.createSelectedCircleClass())
      }
      for(let obj of this.surroundDotsID) {
        let circle = d3.select('#' + this.createCircleId(obj))
        circle.attr('class', this.createSelectedCircleClass())
      }
      console.log(this.selectedID.length)
      d3.selectAll('.' + this.currentName + '_' + SELECTED).attr('opacity', type === 0 ? 1 : OPACITY_CLUSTER)
      d3.selectAll('.' + this.currentName + '_' + UNSELECTED).attr('opacity', this.selectedID.length !== 0 ? OPACITY : originalOpacity)
    },
    getSurroundingDots() {
      // console.log(this.mouseoverDot)
      const CX = this.mouseoverDot.attr('cx'), CY = this.mouseoverDot.attr('cy')
      this.circles[this.currentNameIndex].each(d => {
        let circle = d3.select('#' + this.createCircleId(d[ID]))
        let cx = circle.attr('cx'), cy = circle.attr('cy')
        let distance = Math.sqrt(
            Math.pow(CX - cx, 2) +
            Math.pow(CY - cy, 2)
        );
        if(distance <= this.updatedSurroundRadius) {
          this.surroundDotsID.push(d[ID])
        }
      })
      // console.log(this.surroundDotsID)
    },
    mouseover2row(d) {
      const rowId = this.createRowId(d) //mouseover2row
      const row = document.getElementById(rowId)
      const ROW = d3.select('#' + rowId)
      const container = document.getElementById('table-container')

      if (row && ROW) {
        row.scrollIntoView({ behavior: 'smooth' })
        ROW.style('background-color', () => this.z('Cluster' + d[hdbscanCluster]))
      }
    },
    getDotsInLasso(lassoPath) {
      // Parse the lasso path and extract its coordinates
      this.lassoCoordinates = this.parseLassoPath(lassoPath)
      // console.log(this.lassoCoordinates)

      // Calculate the bounding box of the lasso
      const [minX, minY, maxX, maxY] = this.calculateBoundingBox(this.lassoCoordinates)
      // console.log(minX, minY, maxX, maxY)

      this.circles[this.currentNameIndex] = d3.selectAll('.' + 'Circles_' + this.currentName)
      this.circles[this.currentNameIndex].each(d => {
        let circle = d3.select('#' + this.createCircleId(d[ID]))

        let x = parseFloat(circle.attr('cx'))
        let y = parseFloat(circle.attr('cy'))
        // console.log(x, y)
        if (x >= minX && x <= maxX && y >= minY && y <= maxY){
          // console.log(d[ID], x, y)
          if(this.isPointInsideLasso(x, y, this.lassoCoordinates) === true) {
            this.selectedID.push(d[ID]) //getDotsInLasso
            // circle.attr('class', 'Circles_' + currentName + ' ' + currentName + '_' + SELECTED)
          }
        } else {
          // circle.attr('class', 'Circles_' + currentName + ' ' + currentName + '_' + UNSELECTED)
        }
      })
      this.NLPScatterPlotCallback() //lasso
    },
    parseLassoPath(lassoPath) {
      const pathParts = lassoPath.split(" ").filter(part => part !== "")
      // console.log('pathParts', pathParts)

      // Extract x and y coordinates from the path
      const lassoCoordinates = [];
      for (let i = 1; i < pathParts.length; i += 3) {
        const x = parseFloat(pathParts[i]);
        const y = parseFloat(pathParts[i + 1]);
        lassoCoordinates.push([x, y]);
      }
      // console.log('lassoCoordinates', lassoCoordinates)
      return lassoCoordinates;
    },
    calculateBoundingBox(coordinates) {
      // Calculate the bounding box of a set of coordinates
      let minX = Infinity;
      let minY = Infinity;
      let maxX = -Infinity;
      let maxY = -Infinity;

      coordinates.forEach(([x, y]) => {
        minX = Math.min(minX, x);
        minY = Math.min(minY, y);
        maxX = Math.max(maxX, x);
        maxY = Math.max(maxY, y);
      });

      return [minX, minY - 10, maxX, maxY - 10];
    },
    isPointInsideLasso(x, y, lassoCoordinates) {
      // Perform a point-in-polygon check to determine if a point is inside the lasso
      let inside = false

      for (let i = 0, j = lassoCoordinates.length - 1; i < lassoCoordinates.length; j = i++) {
        const xi = lassoCoordinates[i][0];
        const yi = lassoCoordinates[i][1];
        const xj = lassoCoordinates[j][0];
        const yj = lassoCoordinates[j][1];

        const intersect = ((yi > y) !== (yj > y)) &&
            (x < (xj - xi) * (y - yi) / (yj - yi) + xi);
        if (intersect) inside = !inside;
      }

      return inside;
    },
    createCircleId(id) {
      return prefix + '_' + id + '_' + this.currentName
    },
    createRowId(d) {
      return this.currentName + '_' + d[ID] + '_row'
    },
    createSelectedCircleClass() {
      return 'Circles_' + this.currentName + ' ' + this.currentName + '_' + SELECTED
    },
    createUnselectedCircleClass() {
      return 'Circles_' + this.currentName + ' ' + this.currentName + '_' + UNSELECTED
    },
    _z(data){
      const colorScale = d3.scaleSequential(d3.interpolateRainbow)
          .domain([0, 1])
      data = data.substring(data.indexOf('r') + 1)
      // console.log(data, data === '-1')
      if(data === '-1') {
        return `rgb(${customizedColorPalette['Cluster-1']})`
      }
      return colorScale(data / (this.curCluster.length - 1));
    },
    resetCharacter() {
      // console.log(this.characterNames, this.allItem)
      this.currentName = this.characterNames[this.currentNameIndex]
      this.curAllItem = this.allItem[this.currentNameIndex]
      this.curWordsMap = this.wordsMap[this.currentNameIndex]
      this.curSparseMatrix = this.sparseMatrix[this.currentNameIndex]
      this.curIDMap = this.IDMap[this.currentNameIndex]
      this.curCluster = this.clusters[this.currentNameIndex]
      this.xScale = this.xScaleGroups[this.currentNameIndex]
      this.yScale = this.yScaleGroups[this.currentNameIndex]
      this.z = this.Z[this.currentNameIndex]
      // console.log(this.allItem, this.curAllItem)
    },
  },

};
</script>
<style lang="scss">
body {
  user-select: none;
}

table {
  /*table-layout: fixed;*/
  width: 100%; /* 设置表格总宽度 */
  /*border-collapse: collapse;*/
  overflow: auto;
}
.table-header {
  background-color: #f2f2f2; /* Add background color to the header */
  position: sticky;
  top: 0; /* Stick the header to the top of the container */
}

.table-container {
  overflow: auto; /* Enable vertical and horizontal scrolling */
}

th, td {
  border: 1px solid #ddd;
  padding: 4px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  /*overflow: auto;*/
  text-overflow: ellipsis;
  /*font-family: "Courier New", Courier, monospace;*/
  /*white-space: pre;*/
}

.Sentences {
  border: 1px solid #ddd;
  padding: 4px;
  text-align: left;
  vertical-align: middle;
  /*white-space: nowrap;*/
  /*overflow: auto;*/
  text-overflow: ellipsis;
  font-family: "Courier New", Courier, monospace;
  white-space: pre;
}

th {
  background-color: #f2f2f2;
}
</style>
